div#logo {
	position:absolute;
	float:left;
	top:0;
	left:0;
	height: 96px;
	z-index: 500;
}

#menu {
    position:relative;
    z-index:100;
    height:43px;
}
#menu .menu {
    position:absolute;
    padding-left:180px;
    background: url(navigator/header.gif) right top no-repeat; 
}
#menu * {
    list-style:none;
    border:0;
    padding:0;
    margin:0;
}
#menu a {
    display:block;
    padding:15px 14px 14px 14px;
    white-space:nowrap;
}
#menu li {
    float:left;
    background:#fff;
	width:155px;
}
#menu li li {
    float:none;
}
#menu div {
    visibility:hidden;
    position:absolute;
    background:url(navigator/pix.gif);
	width:159px;
}
#menu div div {
    margin:-35px 0 0 -1px;
    left:100%;
}
#menu div div div {
    margin:-35px 0 0 -1px;
    left:100%;
}
#menu li:hover>div { visibility:visible; }

/* menu::special styles */
/* menu::level 1 */
#menu a {
    text-decoration:none;
    color:#ffffff;
    position:relative;
    z-index:77;
}
#menu a:hover {
    background:url(navigator/header.gif) left -43px repeat-x;
    color:#FFF;
}
#menu a:hover span { color:#FFF; }
#menu li.current a {
    background: transparent url(navigator/header_active.gif) repeat-x;
    color:#FFFFFF;
}
#menu li.current span {
    color:#FFFFFF;
}
#menu>ul>li:hover>a {
    background:url(navigator/header.gif) left -43px repeat-x;
    color:#CACFD3;
}
#menu>ul>li:hover>a span { color:#FFF; }
#menu span {
    text-transform:uppercase;
    font:9px 'Lucida Grande','Lucida Sans Unicode',Arial,Verdana,sans-serif;
    letter-spacing:0.3em;
    text-decoration:none;
    color:#ffffff;
}
#menu li { background: url(navigator/header.gif) left top no-repeat;}
/* menu::level >= 2 */
#menu ul ul {width: 150px;}
#menu li li{
	background:#feea78;
	border-left:1px solid #d1aa0d;
	border-right:1px solid #d1aa0d;
	color:#475868;
}
#menu li li a {
    position:static;
    background:#feea78;
    white-space:normal;
    text-align: left;
    color:#475868;
    padding:0;
	text-transform:none;
	width: 100%;
}
#menu li.current li a { background: none; color:#FFF;}
#menu li.current li span { color:#FFF; }
#menu li li a:hover { background: url(navigator/over.gif) left top repeat-x; color:#fff;}
#menu li li a span { color:#475868; line-height: 15px; padding:10px;}
#menu li li a:hover span { color:#fff; }
#menu li li a.parent span{background:transparent url(navigator/arrow.gif) no-repeat scroll right 50%; z-index:10;}
#menu li li span {
    display:block;
    text-transform:none;
    padding:0px 25px 0px 0px;
    font-size:11px;
    letter-spacing: 0;
}