@font-face
	font-family: 'BebasNeueRegular';
	src: url('bebasneue-webfont.eot');
	src: local('☺'), url('bebasneue-webfont.woff') format('woff'), url('bebasneue-webfont.ttf') format('truetype'), url('bebasneue-webfont.svg#webfontAmkdkFX9') format('svg');
	font-weight: normal;
	font-style: normal;
}