/* Text styles */
.xr_s0 {font-family:Arial;font-weight:normal;font-style:normal;font-size:15px;text-decoration:none;color:#40003F;letter-spacing:0.0em;}
.xr_s1 {font-size:21px;text-decoration:none;color:#40003F;letter-spacing:0.0em;}
.xr_s2 {font-family:Arial;font-weight:normal;font-style:normal;font-size:15px;text-decoration:underline;color:#40003F;letter-spacing:0.0em;}
.xr_s3 {font-family:'Symbol';font-weight:normal;font-style:normal;font-size:15px;text-decoration:none;color:#40003F;letter-spacing:0.0em;}
.xr_s4 {font-family:Courier New;font-weight:normal;font-style:normal;font-size:15px;text-decoration:none;color:#40003F;letter-spacing:0.0em;}
.xr_s5 {font-family:Arial;font-weight:bold;font-style:normal;font-size:15px;text-decoration:none;color:#40003F;letter-spacing:0.0em;}
.xr_s6 {font-family:Verdana, Geneva, sans-serif;font-weight:normal;font-style:normal;font-size:15px;text-decoration:none;color:#40003F;letter-spacing:0.0em;}
